@import "footer.css";


body {
  background-image: linear-gradient(170deg, #eee8d3 0%, #ecc152 100%);
  height: 100vh;
  font-family: cursive;
  overflow: hidden;
}
  
  * {
    margin: 0;
    padding: 0;
  }
  
  
  /* The main home page styling */
  .main-homepage {
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .main-bg {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffa4;
    text-align: center;
    transition: 100ms linear;
    border-radius: 45px;
    margin: 3em auto 20em auto;
    z-index: 5;
  }

  /* The h1 titile */
  .homepage-h1 {
    margin: auto 20px;
    font-weight: 900;
  }
  
  .spherical_triangle {
    background-image: url("../images/spherical_triangle.png");
    width: 442px;
    height: 442px;
    position: absolute;
    background-repeat: no-repeat;
    left: 0px;
    top: 250px;
  }
  
  .mathsw {
    background-image: url("../images/mathsw.png");
    width: 305px;
    height: 305px;
    position: absolute;
    background-repeat: no-repeat;
    right: 3px;
    bottom: 60vh;
  }
  
  /* Desktop style */
@media only screen and (min-width: 45em) {
  /* Changing the main */
  .main-bg {
    height: 436px;
    width: 1230px;
  }
}